/* ApiBox */
.paper-box .MuiAccordion-root {
  padding: 10px 14px;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  &:before {
    display: none;
  }
  &.Mui-selected {
    margin: 0;
  }
  + .MuiAccordion-root {
    margin-top: 8px;
  }
  .MuiAccordionSummary-root {
    border: none;
    .MuiAccordionSummary-content {
      gap: 20px;
      align-items: flex-end;
      .path-stack {
        width: 100%;
        font-size: 0.8rem;
        flex-direction: column;
        align-items: flex-start;
        .MuiBox-root {
          display: flex;
          margin-bottom: 6px;
          .MuiTypography-root {
            margin-left: 8px;
          }
          .MuiChip-root {
            border: 1px solid $secondary-color;
            background: $secondary-variant;
            + .MuiChip-root {
              margin-left: 4px;
            }
          }
        }
        .MuiButtonGroup-root {
          width: 100%;
          border: 1px solid $secondary-color;
          button {
            border: none;
            color: #000;
          }
          .copy-button {
            padding: 4px 6px;
            border-right: 1px solid $secondary-color;
            border-radius: 4px 0 0 4px;
            background: $secondary-variant;
            & + button {
              padding: 0 8px;
              width: 100%;
              justify-content: flex-start;
              font-size: 0.9rem;
              font-weight: 500;
            }
            & + .MuiInputBase-root {
              padding: 0 8px;
              width: 100%;
              input {
                font-size: 0.9rem;
              }
              &:before,
              &:after {
                display: none;
              }
            }
          }
        }
      }
      & .ctrl-stack {
        width: 84px;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
  .MuiAccordionDetails-root {
    padding: 6px 0;
    margin-top: 10px;
    .MuiTabs-root {
      z-index: 10;
      position: relative;
      bottom: -1px;
      min-height: 32px;
      .MuiTabs-flexContainer {
        z-index: 1;
        position: relative;
        .MuiTab-root {
          padding: 0;
          min-height: 34px;
          text-transform: capitalize;
          color: $secondary-color;
          &.Mui-selected {
            color: $primary-color;
          }
        }
      }
      .MuiTabs-indicator {
        z-index: 0;
        margin-bottom: -1px;
        height: 32px;
        border: 1px solid $secondary-color;
        border-bottom-color: $background;
        border-radius: 4px 4px 0 0;
        background: $secondary-variant;
        // background: $background;
      }
    }
    .MuiTabPanel-root {
      position: relative;
      padding: 0;
      border: 1px solid $secondary-color;
      border-radius: 4px;
    }
  }
}

/* ApiBox 내부 headers-box */
.headers-box {
  > .MuiStack-root {
    &:first-child {
      padding: 8px 55px 6px 0;
      margin-bottom: 6px;
      justify-content: flex-end;
      border-bottom: 1px solid $secondary-color;
      border-radius: 4px 4px 0 0;
      background: $secondary-variant;
      color: rgba(0, 0, 0, 0.54);
      .MuiTypography-root {
        width: 64px;
        font-size: 0.8rem;
        text-align: center;
        &:last-child {
          margin-left: 8px;
        }
        + .MuiTypography-root {
          width: 50%;
        }
      }
    }
  }
}
/* ApiBox 내부 mothod-box */
.method-box {
  .MuiStack-root {
    &:first-child {
      padding: 8px 12px 6px 0;
      margin-bottom: 6px;
      gap: 8px;
      justify-content: flex-end;
      border-bottom: 1px solid $secondary-color;
      border-radius: 4px 4px 0 0;
      background: $secondary-variant;
      color: rgba(0, 0, 0, 0.54);
      .MuiTypography-root {
        width: 95px;
        font-size: 0.8rem;
        text-align: center;
        + .MuiTypography-root {
          margin-left: 0;
          width: 75px;
        }
      }
    }
    .MuiTypography-root {
      & + .MuiTypography-root {
        margin-left: 8px;
      }
    }
  }
  .MuiStack-root.method-stack {
    padding-right: 12px;
    .MuiOutlinedInput-root {
      .MuiInputBase-input::-webkit-inner-spin-button {
        opacity: 1;
      }
    }
    .MuiStack-root {
      gap: 8px;
      width: 180px;
      margin-left: auto;
      align-items: center;
      .MuiSelect-select {
        padding-top: 0;
        padding-left: 0;
        padding-bottom: 0;
        .MuiSelect-outlined {
          padding: 6px 8px;
        }
      }
    }
  }
}

/* SearchBar Component */
.search-bar {
  width: 100%;
  .MuiStack-root {
    margin-bottom: 12px;
    flex-direction: row;
    .MuiToggleButtonGroup-root {
      margin-right: 8px;
      background: #fff;
      .Mui-selected {
        background: $primary-color;
        font-weight: 500;
        color: #fff;
      }
    }
    .MuiInputBase-root {
      width: 100%;
      min-width: 360px;
      align-items: center;
    }
  }
}
