/* MapInput */
.MuiTableContainer-root.map-input {
  padding: 0 6px 8px;
  box-sizing: border-box;
  .MuiTableCell-root {
    border: none;
    .MuiStack-root {
      gap: 8px;
      .MuiInputBase-root {
        width: calc(50% - 24px);
      }
      > div {
        width: 40px;
      }
    }
  }
  .MuiTableCell-root:first-child {
    width: 50px;
    text-align: center;
  }
}

/* Monaco */
.monaco-box {
  position: relative;
  width: 100%;
  overflow: hidden;
  .editor-ribbon {
    z-index: -1;
    padding: 4px 24px 0;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid $secondary-color;
    border-radius: 4px 4px 0 0;
    background: $secondary-variant;
    .MuiButtonGroup-root {
      gap: 10px;
    }
    + section {
      margin-top: 12px;
    }
  }
}
